Flask==2.3.3
flask-mongoengine
python-dotenv
pydantic[email]
pytest
stripe
PyJWT
mailjet-rest
cloudinary
langchain
redis
Celery
langchain-groq
certifi 
pymongo[srv]
mdtopptx
python-pptx
gTTS
flask-cors

